.words-logo {
    width: auto;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: right;

}

.title-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  ion-button {
    width: 50%;
  }