
// ion-row {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;

// }  

.teams-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70%;
}

.button-row{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
}

.rounds-row{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
}