<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>wait-teams</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">wait-teams</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row>
    <div class="loader"></div>
  </ion-row>
        <!-- <ul *ngFor="let game of games">
          <div *ngIf="game.gameId === documentId">
            <div>
          Game #: {{game.gameId}}
          </div>
          <div>
            Blue points: {{game.bluePoints}}
          </div>
          <div >
            State: {{game.state}}
          </div>
          <div>
            Total rounds: {{game.redPoints}}
          </div>
        </div>
      </ul> -->
  <ion-row>
    <ion-title>Esperando la creación de equipos</ion-title>
  </ion-row>

</ion-content>
